extends jade/page.jade

block name
  -name = "home"

block basePath
  -basePath = ""

block relativePath
  -relativePath = ""

block content
  -
    sections = [
      ["Expert Systems", [
        ["Cohen", [
          ["Cohen, Kjeldsen", "1987", "Information retrieval by constrained spreading activation in semantic networks", "p/cohen-1987-information-retrieval-by-constrained-spreading-activation-in-semantic-networks.pdf"],
        ]],
      ]],
      ["Functional Programming", [
        ["Hughes", [
          ["Hughes", "1990", "Why Functional Programming Matters", "p/hughes-1990-why-functional-programming-matters.pdf"],
        ]],
      ]],
    ]

  h1 Annotateables
  each section in sections
    h2 #{section[0]}
    each author in section[1]
      h3 #{author[0]}
      ul
        each paper in author[1]
          -auth = paper[0]
          -date = paper[1]
          -title = paper[2]
          -url = paper[3]
          li
            a(target='_blank', href=url)
              | #{auth} - #{date} - 
              b #{title}
